page-home {
    .content{
        background-color: #f5f5f5;
        
    }
    .image{
        height: 200px;
        width: 200px;
    }
    .conteudo{
        position:absolute;
        top:25%;
        left:25%;
    }
    .outra{
        position: absolute;
        margin: 10% 40% 10% 40%;
    }
    .rangin{
        margin: 10%;     
    }
}
